<div class="row">
    <div class="col-lg-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="/files/add" method="POST">
                    <table>
                        <tbody>
<!--                        BASICO-->
                        <tr>
                            <td colspan="4"><div class="btn btn-primary btn-block btn-lg">Información basica</div></td>
                        </tr>
                        <tr>
                            <td><div class="btn btn-primary btn-block">Nombre</div></td>
                            <td><div class="btn btn-primary btn-block">Edad</div></td>
                            <td><div class="btn btn-primary btn-block">PB</div></td>
                            <td><div class="btn btn-primary btn-block">Empleo</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="edad" placeholder="Enter your age">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="pb" placeholder="Played by">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="empleo" placeholder="Enter your job">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="btn btn-primary btn-block">Grupo</div></td>
                            <td><div class="btn btn-primary btn-block">Raza</div></td>
                            <td><div class="btn btn-primary btn-block">Nacionalidad</div></td>
                            <td><div class="btn btn-primary btn-block">Orientación</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="grupo" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="raza" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nacionalidad" placeholder="Ingresa la nacionalidad de tu PJ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="orientacion" placeholder="Ingresa la orientación sexual de tu PJ">
                                </div>
                            </td>
                        </tr>
<!--                        TEXTAREAS-->
                        <tr>
                            <td colspan="2"><div class="btn btn-primary btn-block btn-lg">Psicologia</div></td>
                            <td colspan="2"><div class="btn btn-primary btn-block btn-lg">Fisico</div></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea name="psicologia" cols="50" rows="10" placeholder="Ingresa la descripción psicologica de tu personaje"></textarea>
                            </td>
                            <td colspan="2">
                                <textarea name="fisico" cols="50" rows="10" placeholder="Ingresa la descripción fisica de tu personajaje"></textarea>
                            </td>
                        </tr>
<!--                        HISTORIA-->
                        <tr>
                            <td colspan="4"><div class="btn btn-primary btn-block btn-lg">HISTORIA</div></td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="historia" cols="100" rows="10"></textarea></td>
                        </tr>
<!--                        ESTADISTICAS-->
                        <tr>
                            <td colspan="4"><div class="btn btn-primary btn-block btn-lg">ESTADISTICAS</div></td>
                        </tr>
                        <tr>
                            <td><div class="btn btn-primary btn-block">Fuerza</div></td>
                            <td><div class="btn btn-primary btn-block">Destreza</div></td>
                            <td><div class="btn btn-primary btn-block">Agilidad</div></td>
                            <td><div class="btn btn-primary btn-block">Resistencia</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="fuerza" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="destreza" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="agilidad" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="resistencia" placeholder="Enter your name">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="btn btn-primary btn-block">Inteligencia</div></td>
                            <td><div class="btn btn-primary btn-block">Percepción</div></td>
                            <td><div class="btn btn-primary btn-block">Nombre</div></td>
                            <td><div class="btn btn-primary btn-block">Nombre</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="inteligencia" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="percepcion" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="" placeholder="Enter your name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="" placeholder="Enter your name">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">
                                    <input type="file" class="form-control-file" id="">
                                </div>
                            </td>
                            <td colspan="2"><button class="btn btn-lg btn-block btn-primary active">Create file</button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
