{{title}}

<h1>About</h1>

<p>Este sitio esta hecho para la comunidad hispana aficionada con el rol game. Cada usuario mantendra un registro de sus fichas y demas documentación de diversos roles, todo archivado en un lugar.</p>
